 html,
 body {
     width: 100%;
     height: 100%;
     margin: 0;
     padding: 0;
 }
 
 ul {
     margin: 0;
     padding: 0;
 }

 .ms-welcome__main {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: baseline;
  align-items: baseline;
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
  padding: 10px 20px;
  width: 100%;
}

.app-container {
  display: flex;
  min-height: 100%;
}

.progress-spinner {
  position: absolute;
  top: 30%;
  left: 50%;
}

.main-main, .login-main, .success-main, .timesheet-main, .error-main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-content, .login-content, .success-content, .timesheet-content, .error-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: baseline;
  flex: 1;
  width: 100%;
  margin-bottom: 20px;
}

.page-footer {
  align-items: center;
}

.footer-login-button, .footer-logout-button {
  display: inline;
}

.app-main, .app-login {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 10px 10px 10px;
  background-color: whitesmoke;
}

.page-title {
  font-size: 1.2rem;
  margin-top: 20px;
  margin-bottom: 15px;
  text-align: left;
  font-weight: bold;
}

.page-section-title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 5px;
}

/* .success-content {
  padding-top: 20vh;
  align-items: center;
} */

.success-or {
  font-size: 15px;
  font-weight: 600;
  padding: 5px;
}

.case-outer-container, .document-outer-container, .party-outer-container, .mailtemplate-outer-container, .mail-outer-container, .attachments-outer-container, .website-outer-container, .timesheet-outer-container {
  margin-bottom: 20px;
  border-radius: 5px;
  width: 100%;
  padding: 5px 10px 10px 10px;
  background-color: white;
}

.attachments-container {
  margin-bottom: 10px;
}

.attachment-container {
  margin-bottom: 20px;
}

.attachments-title-div {
  overflow: auto;
}

.attachments-title {
  float: left;
}

.attachments-add-all-button {
  float: right;
}

.tag-all-select-div {
  margin-bottom: 15px;
}

.name-container {
  margin-bottom: 5px;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  cursor: default;
  margin: 1px 3px 2px 0px;
  font-weight: bold;
  font-size: 12px;
  color: white;
  background-color: #0F6CBD;
  border: 1px solid #0F6CBD;
}

.attachments-add-all-button, .mail-add-button, .save-button, .login-button, .signup-button {
  --bs-btn-bg: #0F6CBD;
  --bs-btn-border-color: #0F6CBD;
  --bs-btn-hover-bg: #0e5ea3;
  --bs-btn-hover-border-color: #0e5ea3;
  --bs-btn-active-bg: #0e5ea3;
  --bs-btn-active-border-color: #0e5ea3;
  padding-top: 2px;
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.cancel-button {
  --bs-btn-color: black;
  --bs-btn-bg: #cbcbcb;
  --bs-btn-border-color: #cbcbcb;
  --bs-btn-hover-color: black;
  --bs-btn-hover-bg: #bbbbbb;
  --bs-btn-hover-border-color: #bbbbbb;
  --bs-btn-active-color: black;
  --bs-btn-active-bg: #bbbbbb;
  --bs-btn-active-border-color: #bbbbbb;
  padding-top: 2px;
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.case-title, .task-title {
  display: flex;
  flex-direction: row;
}

.case-link, .task-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}

.searchselect-dropdown-button {
  width: 100%;
}

.searchselect-dropdown-button-text {
  width: 100%;
  white-space: nowrap;
  overflow: scroll;
}

.searchselect-dropdown {
  width: 100%;
}

.searchselect-input {
  background-color: white;
  position: sticky;
  top: 0;
  padding-top: 4px;
}

.dropdown-menu.show {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  padding-top: 0px;
  max-height: 200px;
  overflow: scroll;
  --bs-dropdown-divider-margin-y: 5px;
}

.save-text-success {
  margin-top: 2px;
  color: rgb(33, 145, 53);
}

.save-text-error {
  margin-top: 2px;
  color: rgb(164, 38, 44);
}

.login-div {
  width: 100%;
  height: 100%;
}

.tag-select-button {
  width: fit-content;
  font-size: 12px;
  padding: 1px 35px 1px 10px;
  margin: 1px 3px 2px 0px;
}

select:invalid, .default-option {
  color: grey;
}

.time-input {
  width: auto !important;
}

b {
    font-weight: bold;
}

.party-buttons-container, .document-buttons-container {
  display: flex;
  gap: 4px;
  margin-top: 6px;
}

/*
* ODOO PLUGIN TASKPANE CSS
*/

/* .app-main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
} */

/* body {
   margin: 0;
   background-color: whitesmoke;
   overflow-y: auto;
} */

.full-width {
  width: 100%;
}

.form-line {
  margin-top: 15px;
}

.form-line-compact {
  margin-top: 10px;
}

.clickable {
  cursor: pointer;
}

.tile {
  padding: 10px;
  background-color: white;
}

.bounded-tile {
  padding: 10px;
  background-color: white;
}

.lower-bounded-tile { 
  padding: 10px;
  background-color: white;
  border-bottom: 1px #d6d5d5 solid;
}

.tile-regular-space {
  height: 30px;
}

.tile-title-space {
  /*height: 50px;*/
  height: 25px;
  position: relative;
}

.tile-title {
  padding-left: 15px;
  font-size: 13px;
  color: #56565b;
  position: absolute;
  bottom: 5px;
  display: flex;
  width: calc(100% - 30px);
}

.input-search {
  width: 100%;
}

.tile-title > .text {
  flex: 1;
}

.tile-title > .button {
  text-align: right;
  cursor: pointer;
  /* color: blue; */
  color: #0F6CBD;
}

.link-like-button {
  cursor: pointer;
  color: #0F6CBD;
  text-decoration: none;
}

.odoo-filled-button {
  /*border: 2px solid #8a8886;*/
  background-color: #a2478a;
  color: white;
  font-size: large;
}

.odoo-filled-button:hover {
  background-color: #96417e;
}

.odoo-clear-button {
  /*border: 2px solid #8a8886;*/
  font-size: large;
  color: #a2478a;
  background-color: white;
}

.odoo-clear-button:hover {
  color: #a2478a;
}

.horizontal-line {
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid #56565b; 
  line-height: 0.1em;
  margin: 15px 0; 
}

.horizontal-line > span { 
  background:#fff; 
  padding:0 10px;
  color:#56565b;
}

.section-card {
   margin: 8px;
   background: white;
   border-radius: 4px;
   display: flex;
   flex-direction: column;
}

.section-content {
   margin: 8px;
}


.section-top {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 8px;
   margin-top: 8px;
   margin-left: 8px;
}

.icon-with-text-parent {
   display: flex;
   flex-direction: row;
}

.odoo-muted-button {
   border: solid 1px #ededed;
   border-radius: 4px;
   padding: 4px 8px 4px 8px;
   color: #787878;
   font-size: medium;
   font-weight: 500;
   cursor: pointer;
   width: fit-content;
   width: -moz-fit-content;
   user-select: none;
}

.muted-text {
   color: #787878;
   font-size: medium;
   font-weight: 400
}

.odoo-muted-button:hover {
   background: #ededed;
}

.custom-section-title-container {
   display: flex;
   flex-direction: column;

}

.section-title-text {
   color: #4b4a49;
   font-size: large;
   font-weight: 400;
}


.odoo-secondary-button {
   border: 1px solid #a2478a;
   color: #a2478a;
   border-radius: 4px;
   padding: 4px;
   height: fit-content;
   text-align: center;
   font-size: small;
   cursor: pointer;
   width: fit-content;
   width: -moz-fit-content;
   font-weight: 600;
}

.odoo-secondary-button:hover {
   background: #a2478a;
   color: white;
}

.add-to-contacts-button {
   border: solid #96417e;
   border-width: 1px;
   color: #96417e;
   border-radius: 4px;
   text-align: center;
   margin-left: 8px;
   margin-right: 8px;
   margin-bottom: 8px;
   padding: 4px;
   font-size: medium;
   cursor: pointer;
}

.text-truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* ODOO PLUGIN LOGIN CSS */

.login-info {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.login-info-icon {
  margin-right: 20px;
}

.login-spinner, .save-spinner {
  margin-right: 8px;
}

.error-text {
  margin-top: 16px;
  color: rgb(164, 38, 44);
}

.connect-your-database {
  font-size: 30px;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 15px;
  text-align: center;
}

.connect-your-database > img {
  height: 30px;
}

/* ODOO PLUGIN MAIN CSS */

.connect-button {
  margin: 10px auto;
  text-align: center;
  width: fit-content;
}
